.link-index {
    display: block;
    padding: 10px;
    border-radius: 5px;
    background: #fb9d15;
    outline: none;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    max-width: 250px;
    box-shadow: 0 5px 15px #00000045;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
}
.link-index:hover {
    color: #fff;
}

body {
    height: 100vh;
}

.retorno:not(.masculino, .feminino) {
    display: none;
}

.retorno.masculino .feminino {
    display: none !important;
}
.retorno.feminino .masculino {
    display: none !important;
}
.retorno img {
    display: none;
}
.retorno.jovem .jovem {
    display: block;
}
.retorno.adulto .adulto {
    display: block;
}
.retorno.idoso .idoso {
    display: block;
}

.alerta p {
    display: none;
}
.alerta.erro_idade p.erro_idade {
    display: block;
}
.alerta.erro_sexo p.erro_sexo {
    display: block;
}